h3 {
  text-transform: uppercase;
}

.button {
  width: 90px;
  height: 32px;
  color: #f7ff06;
  font-weight: bold;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #f7ff06;
  border-radius: 25px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(255, 238, 0);
  /* box-shadow: 10px 5px 5px rgba(139, 241, 255, 0.541); */
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-weight: bolder;
  border: 1px solid white;
}

.timer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
}

.time-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.time-update-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.time-formatted {
  margin: 10px;
  color: #f7ff06;
  font-size: 72px;
  font-weight: bold;
}

.hide {
  display: none;
}
