h3 {
  text-transform: uppercase;
}

.button {
  width: 90px;
  height: 32px;
  color: rgb(139, 241, 255);
  font-weight: bold;
  text-transform: uppercase;
  background-color: #171717;
  border: none;
  border-radius: 25px;
}

.button:hover {
  cursor: pointer;
  background-color: rgb(26, 25, 25);
  /* box-shadow: 10px 5px 5px rgba(139, 241, 255, 0.541); */
  color: rgb(166, 255, 255);
}

.timer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
}

.time-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  gap: 20px;
}

.time-update-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;

  gap: 10px;
}

.time-formatted {
  margin: 10px;
  color: rgb(139, 241, 255);
  font-size: 72px;
  font-weight: bold;
}
