#cards-container {
  margin: 50px;
  width: 800px;
  height: 800px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  background: linear-gradient(
    270deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 1) 50%,
    rgba(247, 255, 6, 1) 50%
  );
  box-shadow: rgba(2, 2, 2, 0.81) 0px 20px 30px;
}

#app-name {
  background: #000000;
  background: -webkit-linear-gradient(
    to right,
    #000000 50%,
    #fff700 50%,
    #ffee00 50%
  );
  background: -moz-linear-gradient(
    to right,
    #000000 50%,
    #fff700 50%,
    #ffee00 50%
  );
  background: linear-gradient(to right, #000000 50%, #fff700 50%, #ffee00 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.circle {
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 8.5px solid white;
  border-radius: 50%;
  padding: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#pomodoro-card {
  width: 400px;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: rgb(7, 7, 7);
  border: 3.5px solid rgb(255, 255, 255);
  border-radius: 50%;
}

#breaks-buttons-container {
  display: flex;
  flex-flow: row nowrap;

  width: 400px;
  height: 80px;

  gap: 15px;
}
